<div class="panel panel-default">
</div>


<div class="panel-body">
  <%= simple_form_for [@user, @group, @message] do |f| %>



    <%= f.input :body, label: false, input_html: {placeholder: "Message Text"}%>
    <br>
    <%= f.input :date, label: "When to Send:" %>
    <br>

    <%= f.submit "Submit".html_safe, class: 'btn btn-lg btn-warning'%>
    <%= link_to 'Cancel', :back, class: 'btn btn-lg btn-default' %>
  <% end %>

</div>
