<div class="col-12">
  <div class="table-responsive">
    <h1 style="color:#cc3333;"><%= @group.name %>: All Messages</h1>
      <table class="table table-hover">

        <tr>
          <th> Message </th>
          <th> Group </th>
          <th> Sent? </th>
          <th> Scheduled? </th>
          <th> Date </th>
          <th> Actions </th>
        </tr>

    <% @messages.each do |message| %>
    <tr>
      <td><%= message.body %></td>
      <td><%= message.group.name %></td>
      <td><%= message.sent %></td>
      <td><%= message.scheduled %></td>
      <td><%= message.date %></td>
      <td>
        <% link_to 'Show Message', group_message_path(@group, message), class: 'btn btn-warning btn-xs' %>
        <%=link_to 'Edit Message', edit_group_message_path(@group, message), class: 'btn btn-warning btn-xs' %>
        <%=link_to 'Delete Message', group_message_path(@group, message), method: :delete, data: {confirm: "Are you Sure?"}, class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>

    <% end %>
  </div>
</div>


<div class="well">
  <%= link_to "Create New Message", new_group_message_path(@group, @message), class: 'btn btn-success' %>
  <%=link_to "All Groups", groups_path, class: 'btn btn-default btn-md'%>
</div>
