<div class="col-12">
  <div class="table-responsive">
    <h1 style="color:#cc3333;">Message Details</h1>
      <table class="table table-hover">

        <tr>
          <th> Message </th>
          <th> Group </th>
          <th> Sent? </th>
          <th> Scheduled? </th>
          <th> Date sent / To be sent </th>
          <th> Actions </th>
        </tr>

        <tr>
          <td><%= @message.body %></td>
          <td><%= @message.group %></td>
          <td><%= @message.sent %></td>
          <td><%= @message.scheduled %></td>
          <td><%= @message.date %></td>
          <td>
            <%=link_to 'Edit Message', edit_message_path(@message), class: 'btn btn-warning btn-xs' %>
            <%=link_to 'Delete Message', @message, method: :delete, data: {confirm: "Are you Sure?"}, class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>

  </div>

<%=link_to "All Messages", messages_path, class: 'btn btn-default btn-lg'%>
<p>
</div>
