<div class="col-12">

    <div class="brand"><%= @group.name %>: Details</h1></div>
  <div class="table-responsive">
      <table class="table table-hover">

        <tr>
          <th> Group Name </th>
          <th> Description </th>
          <th> Image </th>
          <th> Actions </th>
        </tr>

        <tr>
          <td><%= @group.name %></td>
          <td><%= @group.description %></td>
          <td><%= image_tag(@group.image_url, class: 'img-thumbnail img-responsive') %></td>
          <td>
            <%=link_to 'New Message', new_user_group_message_path(@user, @group), class: 'btn btn-success btn-xs' %>
            <%=link_to "Group Messages", user_group_messages_path(@user, @group), class: 'btn btn-warning btn-xs' %>
            <%=link_to 'Edit Group', edit_user_group_path(@user, @group), class: 'btn btn-warning btn-xs' %>
            <%=link_to 'Delete Group', @group, method: :delete, data: {confirm: "Are you Sure?"}, class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>

  </div>


</div>
