<div class="panel panel-default">
</div>


<div class="panel-body">
  <%= simple_form_for [@user, @group, @contact] do |f| %>



    <%= f.input :name, label: false, input_html: {placeholder: "Contact Name"}%>
    <br>
    <%= f.input :phone_number, label: false, input_html: {placeholder: "Phone number (123-456-7890)"} %>
    <br>
    <%= f.submit "Submit".html_safe, class: 'btn btn-lg btn-warning'%>
    <%= link_to 'Cancel', :back, class: 'btn btn-lg btn-default' %>
  <% end %>

</div>
